<div class="container">
    <div class="details ">
        <div class="col-md-6 offset-md-3 ">
                <h3>ID : {{task.ID}}</h3>
                <h3>Title :  {{task.Title}}</h3>
                <h3>Status :  {{task.Done}}</h3>
                <app-rating [StarsCount]="0"></app-rating>
        </div>
            
    </div>

</div>

<!-- <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                    <div class="details ">
                            <h3>ID : {{task.ID}}</h3>
                            <h3>Title :  {{task.Title}}</h3>
                            <h3>Status :  {{task.Done}}</h3>
                            <app-rating [StarsCount]="0"></app-rating>
                    </div>
            </div>
        </div>
       
    
    </div> -->