<div class="row">
  
  <div class="col-md-6  offset-md-3">
      <div class="form-style-5">
    <form  [formGroup]="taskForm"  >
        <fieldset>
            <legend><span class="number"></span> Create Task</legend>
        <div  class="form-group">
            <label for="title">Title:</label>
            <input [class.is-invalid]="!taskForm.controls['Title'].valid && taskForm.controls['Title'].touched"  formControlName="Title"  type="text" class="form-control" id="email"> 
         
                    
            <div  class="invalid-feedback" *ngIf="!taskForm.controls['Title'].valid && taskForm.controls['Title'].dirty">
              <div *ngIf="taskForm.controls['Title'].hasError('required')">
                * required filed
              </div>
              <div *ngIf="taskForm.controls['Title'].hasError('minlength')">
                  * min Length is 5
                </div>
                <div *ngIf="taskForm.controls['Title'].hasError('maxlength')">
                    * min Length is 10
                  </div>
          </div>
          </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input  [class.is-invalid]="!taskForm.controls['Email'].valid && taskForm.controls['Email'].touched"   formControlName="Email" type="email" class="form-control" id="email">
        <div  class="invalid-feedback" *ngIf="!taskForm.controls['Email'].valid && taskForm.controls['Email'].dirty">
            <div *ngIf="taskForm.controls['Email'].hasError('required')">
              * required filed
            </div>
            <div *ngIf="taskForm.controls['Email'].hasError('pattern')">
                * Email not valid
              </div>
        </div>
      </div>
     
      <button type="submit" (click)="save()" [disabled]="taskForm.valid==false" class="btn btn-primary">Save</button>
    </fieldset>
    </form>
  </div>
</div>
</div>


