<h1 class="text-center">From overwhelmed to on top of it</h1>
<div class="about text-center">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                        <p class=" text-center">
                                TodoList gives you the confidence that everything’s organized and accounted for, so you can make progress on the
                                things that are important to you.
                            </p>
                </div>
            </div>
    


</div>


<div class="contact text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
    <h1 class='text-centter '>Contact Us</h1>
    
                <a href="https://www.linkedin.com/in/esraa-gamal/"> <img src='assets/linkedin.png'></a>
    
                <a href="https://api.whatsapp.com/send?phone=0201061775752"> <img src='assets/whatsapp.png'></a>
                <a href='https://mail.google.com/mail/u/0/#search/esraagamalmustafa@gmail.com'>
                    <img src="assets/gmail.png">
                </a>
            </div>
        </div>
    
    
    
    </div>